@import "variables.css";

.card {
    background: var(--card);
    width: 600px;
    margin: var(--space-3xl) auto;
    border-radius: var(--space-xl);
    overflow: hidden;
    text-align: center;
    box-shadow: var(--shadow-md);
}

.hero {
    background: var(--border);
    height: 140px;
}

.content {
    margin-top: -100px;
    padding: var(--space-xl);
}

.avatar {
    width: 164px;
    height: 164px;
    overflow: hidden;
    border-radius: 100%;
    border: solid 4px;
    border-color: var(--card);
    margin: 0 auto;
}

.avatar img {
    width: 164px;
    height: 164px;
}

.icons {
    margin-top: var(--space-md);
    margin-bottom: var(--space-xl);
    color: white;
}

.ri-linkedin-fill {
    background: #0A66C2;
    padding: var(--space-xs);
    border-radius: 100%;
}

.ri-youtube-fill {
    background: #FF2532;
    padding: var(--space-xs);
    border-radius: 100%;
}

.btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}

button {
    font-size: var(--text-body1);
    width: 400px;
    padding: var(--space-sm);
    border-radius: 32px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}

.btn-primary {
    background: var(--primary);
    color: white;
}

.btn-primary:hover {
    background: #005BC4;
}

.btn-secondary {
    background: transparent;
    border: 1px solid var(--border);
    color: var(--text-secondary);
}

.btn-secondary:hover {
    background: var(--background);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: var(--text-h1);
    border-radius: 100%;
}

.btn-icon-primary {
    background: var(--card);
    color: var(--primary);
}

.btn-icon-secondary {
    background: var(--background);
    color: var(--text-muted);
}